@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #282828;
    height: 100vh;
    display: grid;
    place-items: center;
    user-select: none;
}

.wrapper {
    background-color: #fff;
    width: 600px;
    height: 300px;
    flex-flow: column wrap;
    box-shadow: 0px 0px 10px 0px rgba(96, 110, 114, 0.4);
}

input {
    display: none;
}

.tabs {
    display: flex;
}

.tabs .tab {
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #92ccdc;
    color: rgb(76, 76, 76);
    transition: 300ms ease;
}

.tabs .tab:hover {
    background-color: #a6ddec;
}

#radio1:checked~.tabs #tab1,
#radio2:checked~.tabs #tab2,
#radio3:checked~.tabs #tab3,
#radio4:checked~.tabs #tab4 {
    background-color: #fff;
    transform: translateY(-20px);
    border-top: 5px solid #92ccdc;
}

.contents {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.contents .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms ease;
    transform: translateX(100px);
}

.contents .content h3 {
    position: absolute;
    top: 30%;
    left: -55px;
    transform: rotate(90deg);
    color: rgba(200, 200, 200, 0.5);
    font-size: 40px;
    opacity: 0;
    transition: 300ms ease;
}

.contents .content p {
    padding: 10px 30px;
    line-height: 1.7;
    color: #aaa;
    opacity: 0;
    transition: 300ms ease;
}

#radio1:checked~.contents #content1,
#radio2:checked~.contents #content2,
#radio3:checked~.contents #content3,
#radio4:checked~.contents #content4 {
    opacity: 1;
    transform: translateX(0);
}

input:checked~.contents h3,
input:checked~.contents p {
    opacity: 1;
}