:root {
    --orange: #ff3d00;
    --size: 50px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222d32;
}

.container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: calc(100% / 3);
    height: 200px;
    transition: 300ms ease;
}

.container section:nth-child(odd) {
    background-color: #263238;
}

.container section:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .container section {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .container section {
        width: 100%;
    }
}

/* loading 1  */
.container section:nth-child(1) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: var(--orange);
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

/* loading 2  */
.container section:nth-child(2) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(2) span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    border: 3px solid;
    border-color: transparent transparent transparent var(--orange);
    border-radius: 50%;
}


/* loading 3  */
.container section:nth-child(3) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(3) span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    border: 3px solid;
    border-color: transparent transparent transparent var(--orange);
    border-radius: 50%;
}

/* loading 4  */
.container section:nth-child(4) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(4) span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    border: 3px solid;
    border-color: transparent var(--orange) transparent var(--orange);
    border-radius: 50%;
}

/* loading 5  */
.container section:nth-child(5) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(5) span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    border: 3px solid;
    border-color: transparent var(--orange) transparent var(--orange);
    border-radius: 50%;
}


/* loading 6  */
.container section:nth-child(6) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(6) span::before,
.container section:nth-child(6) span::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--orange);
}

.container section:nth-child(6) span::before {
    left: 0;
    top: 0;
    transform: translate(150%, 150%);
}

.container section:nth-child(6) span::after {
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
}


/* loading 7  */
.container section:nth-child(7) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(7) span::before,
.container section:nth-child(7) span::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--orange);
}

.container section:nth-child(7) span::before {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.container section:nth-child(7) span::after {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}


/* loading 8  */
.container section:nth-child(8) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(8) span::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--orange);
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}

/* loading 9  */
.container section:nth-child(9) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid var(--orange);
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(9) span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    border: 2px solid #fff;
}

/* loading 10  */
.container section:nth-child(10) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 3px solid;
    border-color: transparent #fff #fff #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(10) span::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent var(--orange) var(--orange) var(--orange);
    transform-origin: center center;
    -webkit-animation: rotation 0.5s linear infinite reverse;
    animation: rotation 0.5s linear infinite reverse;
}

/* loading 11  */
.container section:nth-child(11) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent #fff #fff #fff;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.container section:nth-child(11) span::before,
.container section:nth-child(11) span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid;
    border-radius: 50%;
}

.container section:nth-child(11) span::before {
    width: 36px;
    height: 36px;
    border-color: transparent var(--orange) var(--orange) var(--orange);
    transform-origin: center center;
    -webkit-animation: rotation 0.5s linear infinite reverse;
    animation: rotation 0.5s linear infinite reverse;
}

.container section:nth-child(11) span::after {
    width: 24px;
    height: 24px;
    border-color: transparent #fff #fff #fff;
    transform-origin: center center;
}

/* loading 12  */
.container section:nth-child(12) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 4px dotted #fff;
    position: relative;
    -webkit-animation: rotation 3.5s linear infinite;
    animation: rotation 3.5s linear infinite;
}

/* loading 13  */
.container section:nth-child(13) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 5px solid;
    border-color: var(--orange) transparent var(--orange) transparent;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

/* loading 14  */
.container section:nth-child(14) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 10px solid;
    border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.2);
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

/* loading 15  */
.container section:nth-child(15) span {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    position: relative;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}